/*  Color Palette (Shore-Thing; Granola Color Scheme)
    #5fb8c6
    #c7f8ff
    #7AEEFF
    #026F7F
    #62BECC
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: #555;
}


/* start from top to bottom */
/*header section*/
header {
  display: flex;
  justify-content: space-between;

  background: #026F7F;
}

header ul {
  /*Flexbox properties*/
  display: flex;

  list-style-type: none;
  margin-left: 120px;
  margin-right: 120px;
}

header ul li a {
  display: block;
  font-size: 20px;
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: font-size 0.3s;
}

header ul li a:hover{
  font-size: 21px;
  line-height: 99px;
}

header ul:first-child a:hover {
  font-size: 25px;
}

.logo li a{
  font-size: 24px;
  padding-left: 0;
}

section {
  padding-left: 120px;
  padding-right: 120px;
}
/*personal-info class section*/
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  padding-bottom: 100px;
  background:white;
}

.personal-info img {
  margin-bottom: 40px;
  border-radius: 50%;
  width: 200px;
}

.personal-info h1{
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #555 solid;
}

.personal-info h2 {
  margin-bottom: 80px;
}

.personal-info ul {
  display: flex;
  list-style-type: none;
}

.personal-info ul li{
  padding: 0 20px;
}

.personal-info ul li a {
  text-decoration: none;
  color: #026F7F;
  font-size: 20px;
}

.personal-info ul li a:hover {
  color: #62BECC;
}

.personal-info ul li i {
  padding-right: 10px;
  font-size: 30px;
}

/*.about-me class section*/
.about-me {
  margin-bottom: 100px;
  

}
.about-me h3 {
  margin-bottom: 20px;
}

.about-me p{
  line-height: 1.5em;
}

/*.projects class section*/
.projects {
  margin-bottom: 100px;
}

.projects h3 {
  margin-bottom: 20px;
}

.projects ul {
  list-style-type: none;
  padding-left: 0;
}

.projects ul li {
  margin-bottom: 10px;
}

.projects ul li a {
  display: inline-block;
  width: 150px;
  padding-right: 10px;
  text-decoration: none;
  color: #026f7f;
  font-weight: bold;
}

.projects ul li a:hover {
  color: #62BECC;
}

/*footer section*/
footer {
  display: flex;
  justify-content: space-between;
  background: #026F7F;
}

footer ul {
  list-style-type: none;
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
}

footer ul li a{
  display: block;
  height: 100px;
  line-height: 100px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  padding-left: 30px;
  color: white;
}

footer ul li i {
  font-size: 30px;
}

footer ul:first-child li a {
  padding-left: 0;
}