/*  Color Palette (Shore-Thing; Granola Color Scheme)
    #5fb8c6
    #c7f8ff
    #7AEEFF
    #026F7F
    #62BECC
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

.container {
  margin: 0 120px;
}
/* start from top to bottom */
/*header section*/
header {
  display: flex;
  justify-content: space-between;

  background: #5fb8c6;
}

header ul {
  /*Flexbox properties*/
  display: flex;

  list-style-type: none;
  margin-left: 120px;
  margin-right: 120px;
}

header ul li a {
  display: block;
  font-size: 20px;
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

header ul li a:hover{
  color: #c7f8ff;
}

.logo li a{
  font-size: 24px;
  padding-left: 0;
}
/*personal-info class section*/
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.personal-info img {
  margin-bottom: 40px;
  border-radius: 50%;
  width: 200px;
}

.personal-info h1{
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #555 solid;
}

.personal-info h2 {
  margin-bottom: 80px;
}

.personal-info ul {
  display: flex;
  list-style-type: none;
}

.personal-info ul li{
  padding: 0 20px;
}

.personal-info ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.personal-info ul li i {
  padding-right: 10px;
  font-size: 30px;
}

/*.about-me class section*/
.about-me {
  margin-bottom: 100px;
}
.about-me h3 {
  margin-bottom: 10px;
}

.about-me p{
  line-height: 1.5em;
}

/*.projects class section*/
.projects {
  margin-bottom: 100px;
}

.projects h3 {
  margin-bottom: 10px;
}

.projects ul {
  list-style-type: none;
}

.projects ul li {
  margin-bottom: 10px;
}

.projects ul li a {
  display: inline-block;
  width: 150px;
  padding-right: 10px;
}

/*footer section*/
footer {
  
}

